.user-item-wrapper
    margin-top: 50px
    color: white
    text-align: center
    font-size: 25px
    img
        border-radius: 50px
    .user-item-wrapper__more-data-about-user 
        border-radius: 5px
        padding: 5px
        text-transform: uppercase
        &:active, &:hover, &:focus
            outline: 0
            outline-offset: 0
