div.navigation-bar
  div.navigation-bar__container
    div.navigation-bar__left
      back-button
    div.navigation-bar__left
      div.user-data
        h1.user-data__text
    div.navigation-bar__right
      div.status-bar
        h1 {{getStatus}}
    div.navigation-bar__right
      div.search
        input.search__input#input-search(v-model="query")
        button(@click="search()") search
