div.user-page
  p.user-page__name {{name}}
  img.user-page-img__img(:src="img")
  p.user-page-content__item Дата рождения: {{bdate}}
  p.user-page-content__item Возраст: {{age}}
  p.user-page-content__item Город: {{city}}
